<ion-tabs>

  <ion-tab-bar color="translucent" slot="bottom" 
    class="pt-2 pb-6 bg-slate-200 dark:bg-slate-900 border-t border-slate-200/50 dark:border-slate-950">

    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" src="assets/images/icons/home.svg" color="bg-night-blue" class="hidden dark:block"></ion-icon>
      <ion-icon aria-hidden="true" src="assets/images/icons/home_dark.svg" color="bg-night-blue" class="block dark:hidden"></ion-icon>
      <ion-label class="text-night-blue dark:text-white">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search" href="/tabs/search">
      <ion-icon aria-hidden="true" src="assets/images/icons/search.svg" color="bg-night-blue" class="hidden dark:block"></ion-icon>
      <ion-icon aria-hidden="true" src="assets/images/icons/search_dark.svg" color="bg-night-blue" class="block dark:hidden"></ion-icon>
      <ion-label class="text-night-blue dark:text-white">Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="saved" href="/tabs/saved">
      <ion-icon aria-hidden="true" src="assets/images/icons/saved.svg" color="bg-night-blue" class="hidden dark:block"></ion-icon>
      <ion-icon aria-hidden="true" src="assets/images/icons/saved_dark.svg" color="bg-night-blue" class="block dark:hidden"></ion-icon>
      <ion-label class="text-night-blue dark:text-white">Saved</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" src="assets/images/icons/settings.svg" color="bg-night-blue" class="hidden dark:block"></ion-icon>
      <ion-icon aria-hidden="true" src="assets/images/icons/settings_dark.svg" color="bg-night-blue" class="block dark:hidden"></ion-icon>
      <ion-label class="text-night-blue dark:text-white">Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
